{
  "presets":
    ["@babel/preset-env", "@babel/preset-react"]
  ,
  "plugins": [
    "@babel/transform-react-constant-elements",
    "@babel/transform-react-inline-elements",
    "transform-react-remove-prop-types",
    "transform-react-pure-class-to-function",
    "@babel/transform-runtime",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "."
    }]
    ]
}