/backend/downloads
/backend/torrentFiles
/backend/__pycache__
/backend/torrentool/__pycache__
/backend/venv
/frontend/node_modules
/.DS_Store
/.idea
/frontend/package-lock.json
/backend/db.sqlite3
/frontend/yarn.lock
/backend/media
