<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="241696023762-9cvk3687223kn9kqklfb5bjv20jsc920.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
    function onSignIn(googleUser) {
      let token = googleUser.getAuthResponse().id_token;
      window.location = `/user/auth/google?id_token=${token}`
}
</script>


</body>
</html>